{% extends "index.html" %}
{% block body %}

<h2>Liczby pierwsze</h2>

<b>STATUS</b> = {{ status }}

<form  method="POST">
	<input type="number" name="n" placeholder="ilosc_liczb_pierwszych">
	<select name = "wybor">
		<option value = "primes_method1"> Najwieksza liczba pierwsza(modulo)</option>
		<option value = "SieveOfEratosthenes"> Najwieksza liczba pierwsza(sito)</option>
	</select>
<input type="submit" value="Dodaj">
</form>


<b>stare wyniki:</b> <hr>

{% for wyniki in stare_wyniki %}
czas: {{ wyniki.timestamp.strftime("%H:%M %d-%m-%Y") }} wykonane działanie: {{ wyniki }} <hr>
{% endfor %}

<hr>


{% endblock %}

