{% extends "index.html" %}
{% block body %}

<h2>Liczby losowe</h2>

<b>STATUS</b> = {{ status }}

<form  method="POST">
	<select name="wybor">
		<option value="Gauss"> Losowanie liczby rozkladem Gaussa</option>
		<option value="Uniform"> Losowanie liczby rozkladem Jednorodnym</option>
		<option value="Neumann"> Losowanie liczby metoda von Neumanna</option>
	</select>
	<input type="number" name="bottom" placeholder="bottom">
	<input type="number" name="top" placeholder="top">
	<input type="submit" value="Wykonaj">
</form>


<b>stare wyniki:</b> <hr>

{% for wyniki in stare_wyniki %}
czas: {{ wyniki.timestamp.strftime("%H:%M %d-%m-%Y") }} wykonane działanie: {{ wyniki }} <hr>
{% endfor %}

<hr>


{% endblock %}

